body {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 50px 1000px;
    grid-template-areas: 
    "header header" 
    "main main"
    "photo photo";
    /* "price photo"
    "footer footer"; */
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: auto;
  }
  
  html {
    scroll-behavior: smooth;
  }

  header {
    grid-area:header;
    background-color: #2c3e50;
  }

  footer{
    grid-area:footer;
    background-color: #999999;
  }
  
  
  .photos{
    grid-area: photo;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1,500px);
    background-color: black;
  }


  
  .gallery_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .price{
    grid-area:price;
    /* background-image: url("price.png");  */
  }

  .mainbutton{
    text-decoration: none;
    position: absolute;
    display: block;
    z-index: 99;
    left: 5%;
    top: 60%;
    line-height: 60px;
    width: 210px;
    text-align: center;
    border: 2px solid black;
    border-radius: 100px;
    font-size:medium;
    background-color:  #2c3e50;
    color: white;
  }

  .message{
    position: absolute;
    display: block;
    left: 5%;
    top: 45%;
    font-size:20px;
    color: white;
  }
  
  .title{
    position: absolute;
    display: block;
    left: 5%;
    top: 0%;
    font-size:120px;
    color: blanchedalmond;
  }

  .canvas{
    grid-area:main;
    background-color: #C5C5C3;

  }
  .container {
    margin-right: 50px;
  }
  
  .menu {
    float: right;
  }
  
  .menu li {
    display: inline;
    padding-left: 20px;
  }
  
  .menu li a {
    color: #ffffff;
    text-decoration: none;
  }


  